**/node_modules/**
**/dist/**
**/.build/**
src/generators/**

# Scripts
scripts/bump-patch.js

# Reporting app
src/tools/reporting/src/index.js

# API
src/services/api/src/index.js
src/services/api/src/graphql/schema/datacite.graphql/index.js
src/services/api/src/elasticsearch/odp-integration/index.js
src/services/api/src/graphql/resolvers/types/catalogue/index.js
src/services/api/src/graphql/resolvers/types/subscription/index.js
src/services/api/src/graphql/resolvers/types/query/index.js
src/services/api/src/graphql/resolvers/types/mutation/index.js
src/services/api/src/graphql/resolvers/types/browser-client/index.js