**/node_modules/**
**/dist/**
**/.build/**

src/index.js
src/config.js

src/graphql/api-public/schema/datacite.graphql/index.js
src/graphql/api-public/resolvers/types/databook/index.js
src/graphql/api-public/resolvers/types/dashboard/index.js
src/graphql/api-public/resolvers/types/postgis-databook-table/index.js
src/graphql/api-public/resolvers/types/catalogue-record/index.js
src/graphql/api-public/resolvers/types/postgis-databook-field/index.js
src/graphql/api-public/resolvers/types/postgis-databook-schema/index.js
src/graphql/api-public/resolvers/types/_query.js
src/graphql/api-public/resolvers/types/_mutation.js
src/graphql/api-public/resolvers/types/_mutation.js
src/graphql/api-public/resolvers/types/catalogue/index.js

src/graphql/api-internal/resolvers/types/_query.js
src/graphql/api-internal/resolvers/types/_mutation.js
