.customScroll {
  overflow: overlay !important;
}
.customScroll::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: transparent;
}

.customScroll::-webkit-scrollbar-track {
  display: none;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 4px;
  /* box-shadow: inset 5px 5px 6px rgba(0, 0, 0, 0.3); */
}
.customScroll::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

.customScroll::-webkit-scrollbar-thumb:active {
  background-color: #555;
}
