::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #dadada;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 4px;
}
