html,
body,
#root {
  height: 100%;
  width: 100%;
}

.MuiToolbar-dense {
  min-height: 35px !important;
}

.draggable-handle {
  cursor: grab;
}

#draggable {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.layers-menu {
  .MuiCardHeader-action {
    margin-top: 0;
  }
}
