@import './scss/layout';
@import './scss/scrollbar';
@import './scss/layer-manager';

// TODO - rather don't overwrite class names
.thin-toolbar {
  min-height: 35px !important;
}

// TODO - instead of using !important, remove classes where necessary
.thin-header {
  min-height: 25px !important;
}

.draggable-handle {
  cursor: grab;
}

#draggable {
  position: absolute;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.layers-menu {
  .MuiCardHeader-action {
    margin-top: 0;
  }
}
