DEFAULT_SYSADMIN_EMAIL_ADDRESSES=your-email@address.com

ODP_HOSTNAME=...
ODP_API_URL=...
ODP_AUTH_URL=...

ODP_CLIENT_AUTH_SCOPES=...
ODP_CLIENT_ID=...
ODP_CLIENT_SECRET=...

ODP_SSO_CLIENT_SCOPES=...
ODP_SSO_CLIENT_ID=...
ODP_SSO_CLIENT_SECRET=...

ORCID_BASE_URL=https://nrf.orcid.org
ORCID_API_KEY=your_orcid_api_key_here